@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap');

#logo{
    top:18px;
    left: 60px
}

.fondo{
    height: 400px;
    padding: 0px;
    background-image: url(fonde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo h1{
    visibility: hidden;
    margin-top: 0px;
    text-align: center;
    background-color: transparent;
}

.fondo h2{
    margin-top: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: transparent;
}

.fondo h3{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;

}

.galeria img{
    box-shadow: 0 8px 10px -4px rgba(0,0,0.6);
}

.galeria .col {
    margin-bottom: 20px;
}

.materialbox-caption{
    bottom:30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}



/* imagen grande de la galeria 1*/
#caja-con-texto1{
    position: relative;
    display: inline-block;
}

.texto-encima1-c1{
    position: absolute;
    top: -5px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: x-large;
}
.texto-encima2-c1{
    position: absolute;
    top: 37px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
}
.texto-encima3-c1{
    position: absolute;
    top: 85px;
    width: 180px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
}
.texto-encima4-c1{
    position: absolute;
    top: 145px;
    width: 210px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
    
}

.boton1{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 195px;
    left: 10px;
    font-size: xx-small;
    padding: 10px;
    letter-spacing: 2px;
    border-color: #000;
}
/* imagen grande de la galeria 3*/
#caja-con-texto2{
    position: relative;
    display: inline-block;
}

.texto-encima1-c2{
    position: absolute;
    top: -5px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: x-large;
}
.texto-encima2-c2{
    position: absolute;
    top: 37px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 6pt;
}
.texto-encima3-c2{
    position: absolute;
    top: 85px;
    width: 313px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
}
.texto-encima4-c2{
    position: absolute;
    top: 130px;
    width: 300px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
    
}

.boton2{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 180px;
    left: 10px;
    font-size: xx-small;
    padding: 10px;
    letter-spacing: 2px;
    border-color: #000;
}

.Win{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: #00c8c8;
    font-size: 75pt;
    left: 530px;
    top:-150px
}

.Newlook{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: #00c8c8;
    font-size: 30pt;
    width: 450px;
    left: 380px;
    top:-50px;
}
/* imagen con textos 4*/
.background-image{
    position:relative;
    background-color:#f8f8f8;
    width:100%;
    margin:auto;
}
#caja-con-texto3{
    display:flex;
}
#caja-con-texto3 img{
    width: 200px;
    box-shadow: 0px 0px #fff;
    background-color: #f8f8f8;
}

#caja-con-texto4{
    display:flex;
}
#caja-con-texto4 img{
    width: 200px;
    box-shadow: 0px 0px #fff;
    background-color: #f8f8f8;
}
#caja-con-texto5{
    display:flex;
}
#caja-con-texto5 img{
    width: 200px;
    box-shadow: 0px 0px #fff;
    background-color: #f8f8f8;
}

/* CAJA 3 */
.texto-encima1-c3{
    position: absolute;
    top: 20px;
    width: 250px;
    left: 200px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: x-large;
    text-align: right;
}

.texto-encima2-c3{
    position: absolute;
    top: 150px;
    left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-size: 8pt;
    width: 200px;
    text-align: right;
}

.boton3{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 250px;
    left: 350px;
    width: 100px;
    font-size: xx-small;
    padding: 10px;
    letter-spacing: 2px;
    border-color: #000;
}

/* CAJA 4 */

.texto-encima1-c4{
    position: absolute;
    top: 20px;
    width: 250px;
    left: 200px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: x-large;
    text-align: right;
}

.texto-encima2-c4{
    position: absolute;
    top: 150px;
    left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-size: 8pt;
    width: 200px;
    text-align: right;
}

.boton4{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 250px;
    left: 350px;
    width: 100px;
    font-size: xx-small;
    padding: 10px;
    letter-spacing: 2px;
    border-color: #000;
}

/* CAJA 5 */

.texto-encima1-c5{
    position: absolute;
    top: 20px;
    width: 250px;
    left: 200px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: x-large;
    text-align: right;
}

.texto-encima2-c5{
    position: absolute;
    top: 150px;
    left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-size: 8pt;
    width: 200px;
    text-align: right;
}

.boton5{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 250px;
    left: 350px;
    width: 100px;
    font-size: xx-small;
    padding: 10px;
    letter-spacing: 2px;
    border-color: #000;
}

/* INICIO FOOTER */

.info-icon {
    position: relative;
    left:10%;
    bottom:10%;
  
}
.info-icon .grey-bg{
    background-color:#333333;
    margin:3%;
    width: 35%;
    padding:1px 10px 10px 0px;
    
}
.grey-bg h1{
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.grey-bg h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:8%;
}

.info-icon2 {
    flex-direction: row;

}

.info-icon2 .color-bg{
    background-color:#00c8c8;
    width: 35%;
    height: 180px;
    padding:1px 10px 10px 0px;
    margin-top:-217px;
    margin-left:700px;
    margin-bottom:50px;
    
  
}
.info-icon2 a{
    display:inline-flex;
    font-size: 30px;
    line-height: 4.6em;
    margin-top:5%;
    padding:40px 20px 0px 50px;
    color:#fff;
    
}
#Information{
    font-size: 11pt;
    padding: 0px;
}

#Why{
    font-size: 11pt;
    padding: 0px;
}

#Your{
    font-size: 11pt;
    padding: 0px;
}

#Look{
    font-size: 11pt;
    padding: 0px;

}

#Contact{
    font-size: 11pt;
    padding: 0px;
}
